<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLIDIN' - Your Social Hub</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/imgs/slidin-logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/1144a62fa6.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="home-body1">
        <div class="sidebar-1">
            <div class="sidebar-items">
                <div class="icon-text profile-container">
                    <div class=""><a href=""><img class="avatar" src="/imgs/slidin-logo.png" alt="">
                            <div class="icont"><span class="span-text-nav">SLIDIN'</span></div>
                        </a>
                    </div>
                </div>
                <a href="/home">
                    <div class="icon-text">
                        <div class="">
                            <i class="fa fa-house-chimney"></i>
                        </div>
                        <div class=""><span class="span-text-nav">Home</span></div>

                    </div>
                </a>

                <a href="#">
                    <div class="icon-text" onclick="toggleSidebar()">
                        <div>
                            <i class="fa fa-search"></i>
                        </div>
                        <div>
                            <span class="span-text-nav">Search</span>
                        </div>
                    </div>
                </a>
                <a href="/createposts">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-circle-plus"></i> </div>
                        <div class=""><span class="span-text-nav">Create</span></div>

                    </div>
                </a>
                <a href="">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-comment"></i> </div>
                        <div class=""><span class="span-text-nav">Chat</span></div>

                    </div>
                </a>
                <a href="/notifications">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-heart"></i></div>
                        <div class=""><span class="span-text-nav">notifications</span></div>

                    </div>
                </a>
                <a href="/settings">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-gear"></i></div>
                        <div class=""><span class="span-text-nav">Settings</span></div>

                    </div>
                </a>
                <a href="/profile">
                    <div class="icon-text profile-container">
                        <div class=""><img class="avatar" id="image-container" src="<%= path %>" alt=""></div>
                        <div class=""><span class="span-text-nav">Profile</span></div>

                    </div>
                </a>
            </div>
        </div>
        <div class="sidebar-2" id="sidebar2">
            <!-- Additional HTML content for sidebar 2 -->
            <div class="sidebar-items">
                <a href="">
                    <div class="icon-text profile-container">
                        <div class=""><img class="avatar" src="/imgs/slidin-logo.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/home">
                    <div class="icon-text">
                        <div class="">
                            <i class="fa fa-house-chimney"></i>
                        </div>

                    </div>
                </a>
                <a href="#">
                    <div class="icon-text" onclick="toggleSidebar()">
                        <div>
                            <i class="fa fa-search"></i>
                        </div>
                        <div>
                        </div>
                    </div>
                </a>
                <a href="createposts">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-circle-plus"></i> </div>
                    </div>
                </a>
                <a href="">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-comment"></i> </div>
                    </div>
                </a>
                <a href="/notifications">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-heart"></i></div>
                    </div>
                </a>

                <a href="/settings">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-gear"></i></div>

                    </div>
                </a>
                <a href="/profile">
                    <div class="icon-text profile-container">
                        <div class=""><img class="avatar" id="image-container" src="<%= path %>" alt=""></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="search-container" id="s-c" style="display: none;">
            <h2>Search</h2>
            <form action="/profile" method="post" enctype="multipart/form-data" id="searchForm">
                <div class="search-input-container">
                    <input type="text" id="search" placeholder="&#x1F50E;&#xFE0E; Search.." name="value"
                        oninput="submitForm(event)" <% if (value){ %>
                    value="<%= value %>"
                        <% } %>>
                </div>
            </form>
            <div class="search-results">
                <!-- Placeholder content for search results -->
                <ul>
                    <% if (results) { %>
                        <% results.forEach(function(result) { %>
                            <li>
                                <div class="card">
                                    <a href="/profile/<%= result.username %>">
                                        <div class="card_load">
                                            <img id="search-profilepics" src="<%= result.imgpath %>" alt="Profile Pic">
                                        </div>
                                        <div class="card_load_extreme_title">
                                            <span>
                                                <%= result.username %>
                                            </span>
                                        </div>
                                    </a>
                                    <div class="card_load_extreme_descripion">
                                        <form action="/friend/<%=result.username%>" method="post"
                                            enctype="multipart/form-data">
                                            <button>Add Friend</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                                <% } %>
                </ul>
            </div>
        </div>

        <div class="main-body">
        <% if (!posts) {%> 
        <% } else { %> <% for (let i = posts.length - 1; i >= 0; i--) { %>
            <div class="posts">
                <div class="post-username">
                    <div class="post-left">
                        <div class="image">
                            <img src="<%= posts[i].imgpath %>" alt="ff" width="32" height="32">
                        </div>
                        <div class="details">
                            <p class="name"><%= posts[i].username %></p>
                        </div>
                    </div>
                    <div class="post-right">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
                <div class="post-content">
                    <img src="<%= posts[i].postpath %>" alt="">
                </div>
                <div class="post-footer">
                    <div class="add-comment">
                        <div class="com-leftside">
                            <i class="far fa-comment"></i>
                            <input type="text" placeholder="Add a Comment...">
                        </div>
                        <div class="com-rightside">
                            <p>Send</p>
                        </div>
                    </div>
                </div>
                <div class="post-footer-content">
                    <p class="name"><%= posts.imgpath %><span><%= posts[i].postcaption %></span></p>
                    <p class="posting-time">23 Hours Ago</p>
                </div>
            </div>
            <% } %> <% } %>
            <div class="text">
                <h1  style="color: white; text-align:center">Make New Friends!!!</h1>
                <h1 style="color: white; text-align:center"> No More Posts  </h1>
            </div>
        </div>
    </div>
    <script>
        if (<%= searched %>) {
            toggleSidebar();
        }

        function toggleSidebar() {
            // Hide sidebar 1
            var sidebar1 = document.querySelector('.sidebar-1');
            if (sidebar1.style.display === 'none') {
                sidebar1.style.display = 'block';
                var sc = document.getElementById('s-c');
                sc.style.display = 'none';
                // Show sidebar 2
                var sidebar2 = document.getElementById('sidebar2');
                sidebar2.style.display = 'none';
            } else {
                sidebar1.style.display = 'none';
                sidebar1.style.display = 'none';
                var sc = document.getElementById('s-c');
                sc.style.display = 'block';

                // Show sidebar 2
                var sidebar2 = document.getElementById('sidebar2');
                sidebar2.style.display = 'block';
            }
        }

        function submitForm(event) {
            event.preventDefault(); // Prevent the default form submission
            document.getElementById("searchForm").submit();
        }

        let backend = "<%= value %>";
        if (backend !== "false") {
            let input = document.getElementById("search");
            input.focus();
            input.value = "";
            input.value = backend;
        }


        // Function to toggle visibility of content based on clicked division
        function toggleDivision(element) {
            var division1 = document.getElementById('division1');
            var division2 = document.getElementById('division2');
            var content1 = document.getElementById('content-1');
            var content2 = document.getElementById('content-2');
            if (element.id === 'division1') {
                // division1.classList.add('active');
                // division2.classList.remove('active');
                content1.style.display = 'flex';
                content2.style.display = 'none';
            } else {
                // division1.classList.remove('active');
                // division2.classList.add('active');
                content1.style.display = 'none';
                content2.style.display = 'flex';
            }
        }


        function openPopup(id) {
            document.getElementById("open_popup_" + id).style.display = "block";
        }

        function closePopup(id) {
            document.getElementById("open_popup_" + id).style.display = "none";
        }
    </script>
</body>

</html>