<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLIDIN' - Your Social Hub</title>
    <link rel="stylesheet" href="/css/notifications.css">
    <script src="https://kit.fontawesome.com/1144a62fa6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/imgs/slidin-logo.png" type="image/x-icon">
</head>

<body>
    <div class="profile-body1">
        <div class="sidebar-1">
            <div class="sidebar-items">
                <div class="icon-text profile-container">
                    <div class=""><a href=""><img class="avatar" src="/imgs/slidin-logo.png" alt="">
                            <div class="icont"><span class="span-text-nav">SLIDIN'</span></div>      
                        </a></div>

                </div>
                <a href="/home">
                    <div class="icon-text">
                        <div class="">
                            <i class="fa fa-house-chimney"></i>
                        </div>
                        <div class=""><span class="span-text-nav">Home</span></div>

                    </div>
                </a>

                <a href="#">
                    <div class="icon-text" onclick="toggleSidebar()">
                        <div>
                            <i class="fa fa-search"></i>
                        </div>
                        <div>
                            <span class="span-text-nav">Search</span>
                        </div>
                    </div>
                </a>
                <a href="/createposts">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-circle-plus"></i> </div>
                        <div class=""><span class="span-text-nav">Create</span></div>

                    </div>
                </a>
                <a href="">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-comment"></i> </div>
                        <div class=""><span class="span-text-nav">Chat</span></div>

                    </div>
                </a>
                <a href="/notifications">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-heart"></i></div>
                        <div class=""><span class="span-text-nav">Notifications</span></div>

                    </div>
                </a>
                <a href="/settings">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-gear"></i></div>
                        <div class=""><span class="span-text-nav">Settings</span></div>

                    </div>
                </a>
                <a href="/profile ">
                    <div class="icon-text profile-container">
                        <div id="image-container">
                            <img id="profile-image" src="<%= userpath %>" alt="" srcset="" />
                            <div id="crop-preview"></div>
                        </div>
                        <div class=""><span class="span-text-nav">Profile</span></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="sidebar-2" id="sidebar2">
            <!-- Additional HTML content for sidebar 2 -->
            <div class="sidebar-items">
                <a href="">
                    <div class="icon-text profile-container">
                        <div class=""><img class="avatar" src="/imgs/slidin-logo.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/home">
                    <div class="icon-text">
                        <div class="">
                            <i class="fa fa-house-chimney"></i>
                        </div>

                    </div>
                </a>
                <a href="#">
                    <div class="icon-text" onclick="toggleSidebar()">
                        <div>
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </a>
                <a href="/createposts">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-circle-plus"></i> </div>
                    </div>
                </a>
                <a href="">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-comment"></i> </div>
                    </div>
                </a>
                <a href="/notifications">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-heart"></i></div>
                    </div>
                </a>

                <a href="/settings">
                    <div class="icon-text">
                        <div class=""><i class="fa fa-gear"></i></div>

                    </div>
                </a>
                <a href="">
                    <div class="icon-text profile-container">
                        <div id="image-container">
                            <img id="profile-image" src="<%= userpath %>" alt="" srcset="" />
                            <div id="crop-preview"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="search-container" id="s-c" style="display: none;">
            <h2>Search</h2>
            <form action="/profile/<%= username %>" method="post" enctype="multipart/form-data" id="searchForm">
                <div class="search-input-container">
                    <input type="text" id="search" placeholder="&#x1F50E;&#xFE0E; Search.." name="value"
                        oninput="submitForm(event)" <% if (value){ %>
                    value="<%= value %>"
                        <% } %>>
                </div>
            </form>
            <div class="search-results">
                <!-- Placeholder content for search results -->
                <ul>
                    <% if (results) { %>
                        <% results.forEach(function(result) { %>
                            <li>
                                <div class="card">
                                    <a href="/profile/<%= result.username %>">
                                        <div class="card_load">
                                            <img id="search-profilepics" src="<%= result.imgpath %>" alt="Profile Pic">
                                        </div>
                                        <div class="card_load_extreme_title">
                                            <span>
                                                <%= result.username %>
                                            </span>
                                        </div>
                                    </a>
                                    <div class="card_load_extreme_descripion">
                                        <form action="/friend/<%=result.username%>" method="post"
                                            enctype="multipart/form-data">
                                            <button>Add Friend</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                                <% } %>
                </ul>
            </div>
        </div>

        <div class="main-body">
            <div class="body-container">
                <div class="body-header">
                    <h1>Notifications</h1>
                </div>
                <div class="body-content">
                    <div class="notifications">
                        <ul>
                            <% if (notifications) { %>
                                <% notifications.forEach(function(notification) { %>
                                    <li>
                                        <div class="card1">
                                            <a href="/profile/<%= notification.username %>">
                                                <div class="card_load1">
                                                    <img id="search-profilepics" src="<%= notification.imgpath %>" alt="Profile Pic">
                                                </div>
                                                <div class="card_load_extreme_title1">
                                                    <p>
                                                        <%= notification.username %>
                                                    </p>
                                                </div>
                                            </a>
                                            <div class="card_load_extreme_descripion1">
                                                <span>
                                                    <%= notification.message %>
                                                </span>
                                            </div>
                                            <div class="noti-btns">
                                                <form action="/notifications" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="msg" value="<%= notification.message %>">
                                                    <input type="hidden" name="action" value="delete">
                                                    <button type="submit" class="delete">Delete</button>
                                                </form>
                                                <form action="/notifications" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="msg" value="<%= notification.message %>">
                                                    <input type="hidden" name="action" value="accept">
                                                    <button type="submit" class="accept">Accept</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <% }) %>
                                        <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>

        if (<%= searched %>) {
            toggleSidebar();
        }

        function toggleSidebar() {
            // Hide sidebar 1
            var sidebar1 = document.querySelector('.sidebar-1');
            if (sidebar1.style.display === 'none') {
                sidebar1.style.display = 'block';
                var sc = document.getElementById('s-c');
                sc.style.display = 'none';
                // Show sidebar 2
                var sidebar2 = document.getElementById('sidebar2');
                sidebar2.style.display = 'none';
            } else {
                sidebar1.style.display = 'none';
                sidebar1.style.display = 'none';
                var sc = document.getElementById('s-c');
                sc.style.display = 'block';

                // Show sidebar 2
                var sidebar2 = document.getElementById('sidebar2');
                sidebar2.style.display = 'block';
            }
        }

        function submitForm(event) {
            event.preventDefault(); // Prevent the default form submission
            document.getElementById("searchForm").submit();
        }

        let backend = "<%= value %>";
        if (backend !== "false") {
            let input = document.getElementById("search");
            input.focus();
            input.value = "";
            input.value = backend;
        }

        function openPopup(id) {
            document.getElementById("open_popup_" + id).style.display = "block";
        }

        function closePopup(id) {
            document.getElementById("open_popup_" + id).style.display = "none";
        }
    </script>
</body>

</html>